# –¢–µ—Ö–Ω—ñ—á–Ω–µ –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ –≤–∞–∫–∞–Ω—Å—ñ—ó Junior Data Analyst
*–í–∏–∫–æ–Ω–∞–≤–µ—Ü—å:* **–ù–∞—Ç–∞–ª—ñ—è –Ø—Ä–µ–º–∞**

## üõ¢ SQL

*–ó–∞–≤–¥–∞–Ω–Ω—è 1. –í–∏–≤–µ—Å—Ç–∏ –≤—Å—ñ –¥–∞–Ω—ñ –∑ —Ç–∞–±–ª–∏—Ü—ñ "employees".*

SELECT *    
FROM EMPLOYEES;

*–ó–∞–≤–¥–∞–Ω–Ω—è 2. –í–∏–±—Ä–∞—Ç–∏ —ñ–º–µ–Ω–∞ —Ç–∞ –∑–∞—Ä–ø–ª–∞—Ç–∏ –≤—Å—ñ—Ö –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫—ñ–≤, —è–∫—ñ –æ—Ç—Ä–∏–º—É—é—Ç—å –±—ñ–ª—å—à–µ 50000.*

SELECT   
    name  
    , salary  
FROM EMPLOYEES  
WHERE salary > 50000;

*–ó–∞–≤–¥–∞–Ω–Ω—è 3. –ó–Ω–∞–π—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫—ñ–≤ –≤ –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—ñ –∑ —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä–æ–º 10.*

SELECT   
    COUNT(employee_id) AS employee_count_in_dep_10  
FROM EMPLOYEES  
WHERE department_id = 10;

*–ó–∞–≤–¥–∞–Ω–Ω—è 4. –í–∏–≤–µ—Å—Ç–∏ —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç–∏ –≤ —è–∫–∏—Ö –ø—Ä–∞—Ü—é—é—Ç—å –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫–∏ –∑ —Ç–∞–±–ª–∏—Ü—ñ "departments".*

SELECT   
DISTINCT e.department_id  
, d.department_name  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d on e.department_id = d.department_id;

*–ó–∞–≤–¥–∞–Ω–Ω—è 5. –í–∏–≤–µ—Å—Ç–∏ –∑–∞–≥–∞–ª—å–Ω—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫—ñ–≤ –≤ –∫–æ–∂–Ω–æ–º—É –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—ñ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—é –∑–∞—Ä–ø–ª–∞—Ç—É.*

SELECT   
d.department_name  
, COUNT(e.employee_id) AS employee_count  
, AVG(e.salary) AS average_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name;

*–ó–∞–≤–¥–∞–Ω–Ω—è 6. –ó–Ω–∞–π—Ç–∏ –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫–∞ –∑ –Ω–∞–π–≤–∏—â–æ—é –∑–∞—Ä–ø–ª–∞—Ç–æ—é —Ç–∞ –≤–∫–∞–∑–∞—Ç–∏ –Ω–∞–∑–≤—É –π–æ–≥–æ –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—É department_name.*

SELECT   
d.department_name  
, e.salary AS max_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
WHERE e.salary = (SELECT MAX(salary) FROM EMPLOYEES);  

*–∞–±–æ*  

SELECT   
e.name  
, e.salary  
, d.department_name  
FROM EMPLOYEES e  
JOIN DEPARTMENTS USING(department_id)  
WHERE e.salary = (SELECT MAX(salary) FROM EMPLOYEES);

*–ó–∞–≤–¥–∞–Ω–Ω—è 7. –í–∏–≤–µ—Å—Ç–∏ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –∑–∞—Ä–ø–ª–∞—Ç —É –∫–æ–∂–Ω–æ–º—É –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—ñ —Ç–∞ –≤—ñ–¥—Å–æ—Ä—Ç—É–≤–∞—Ç–∏ –≤ –ø–æ—Ä—è–¥–∫—É —Å–ø–∞–¥–∞–Ω–Ω—è.*

SELECT   
d.department_name  
, SUM(e.salary) AS total_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name  
ORDER BY total_salary DESC;

*–ó–∞–≤–¥–∞–Ω–Ω—è 8. –ó–Ω–∞–π—Ç–∏ —Å–µ—Ä–µ–¥–Ω—é –∑–∞—Ä–ø–ª–∞—Ç—É –¥–ª—è –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫—ñ–≤, –Ω–∞–π–º–∞–Ω–∏—Ö –ø—ñ—Å–ª—è 1 —Å—ñ—á–Ω—è 2022 —Ä–æ–∫—É.*

SELECT   
AVG(salary) AS avg_salary_starting_jan2022  
FROM EMPLOYEES  
WHERE hire_date > '2022-01-01';

*–ó–∞–≤–¥–∞–Ω–Ω—è 9. –í–∏–≤–µ—Å—Ç–∏ —Ç–æ–ø-3 –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç–∏ –∑ –Ω–∞–π–≤–∏—â–æ—é —Å–µ—Ä–µ–¥–Ω—å–æ—é –∑–∞—Ä–ø–ª–∞—Ç–æ—é.*

SELECT   
d.department_name  
, AVG(e.salary) AS top_avg_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name  
ORDER BY top_avg_salary DESC  
LIMIT 3;

*–ó–∞–≤–¥–∞–Ω–Ω—è 10. –í–∏–≤–µ—Å—Ç–∏ –Ω–∞–∑–≤—É –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç—É –∑ –¥—Ä—É–≥–æ—é –Ω–∞–π–±—ñ–ª—å—à–æ—é —Å–µ—Ä–µ–¥–Ω—å–æ—é –∑–∞—Ä–ø–ª–∞—Ç–Ω–µ—é.*

SELECT   
d.department_name  
, AVG(e.salary) AS top_avg_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name  
ORDER BY top_avg_salary DESC  
LIMIT 2 OFFSET 1;

*–ó–∞–≤–¥–∞–Ω–Ω—è 11. –í–∏–±—Ä–∞—Ç–∏ —ñ–º–µ–Ω–∞ –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫—ñ–≤, —è–∫—ñ –º–∞—é—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–∞—Ä–ø–ª–∞—Ç–∏ —Ç–∞ –ø—Ä–∞—Ü—é—é—Ç—å –≤ IT-–≤—ñ–¥–¥—ñ–ª—ñ.*

SELECT   
e.name  
, e.salary AS uniq_it_salaries  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
WHERE LOWER(d.department_name) = 'it'  
AND e.salary IN (  
SELECT   
salary  
FROM EMPLOYEES  
GROUP BY salary  
HAVING COUNT(*) = 1);