# Технічне завдання до вакансії Junior Data Analyst
*Виконавець:* **Наталія Ярема**

## SQL

*Завдання 1. Вивести всі дані з таблиці "employees".*

SELECT *    
FROM EMPLOYEES;

*Завдання 2. Вибрати імена та зарплати всіх працівників, які отримують більше 50000.*

SELECT   
    name  
    , salary  
FROM EMPLOYEES  
WHERE salary > 50000;

*Завдання 3. Знайти кількість працівників в департаменті з ідентифікатором 10.*

SELECT   
    COUNT(employee_id) AS employee_count_in_dep_10  
FROM EMPLOYEES  
WHERE department_id = 10;

*Завдання 4. Вивести унікальні департаменти в яких працюють працівники з таблиці "departments".*

SELECT   
DISTINCT e.department_id  
, d.department_name  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d on e.department_id = d.department_id;

*Завдання 5. Вивести загальну кількість працівників в кожному департаменті та середню зарплату.*

SELECT   
d.department_name  
, COUNT(e.employee_id) AS employee_count  
, AVG(e.salary) AS average_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name;

*Завдання 6. Знайти працівника з найвищою зарплатою та вказати назву його департаменту department_name.*

SELECT   
d.department_name  
, e.salary AS max_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
WHERE e.salary = (SELECT MAX(salary) FROM EMPLOYEES);  

*або*  

SELECT   
e.name  
, e.salary  
, d.department_name  
FROM EMPLOYEES e  
JOIN DEPARTMENTS USING(department_id)  
WHERE e.salary = (SELECT MAX(salary) FROM EMPLOYEES);

*Завдання 7. Вивести загальну суму зарплат у кожному департаменті та відсортувати в порядку спадання.*

SELECT   
d.department_name  
, SUM(e.salary) AS total_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name  
ORDER BY total_salary DESC;

*Завдання 8. Знайти середню зарплату для працівників, найманих після 1 січня 2022 року.*

SELECT   
AVG(salary) AS avg_salary_starting_jan2022  
FROM EMPLOYEES  
WHERE hire_date > '2022-01-01';

*Завдання 9. Вивести топ-3 департаменти з найвищою середньою зарплатою.*

SELECT   
d.department_name  
, AVG(e.salary) AS top_avg_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name  
ORDER BY top_avg_salary DESC  
LIMIT 3;

*Завдання 10. Вивести назву департаменту з другою найбільшою середньою зарплатнею.*

SELECT   
d.department_name  
, AVG(e.salary) AS top_avg_salary  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
GROUP BY d.department_name  
ORDER BY top_avg_salary DESC  
LIMIT 2 OFFSET 1;

*Завдання 11. Вибрати імена працівників, які мають унікальні зарплати та працюють в IT-відділі.*

SELECT   
e.name  
, e.salary AS uniq_it_salaries  
FROM EMPLOYEES e  
JOIN DEPARTMENTS d ON e.department_id = d.department_id  
WHERE LOWER(d.department_name) = 'it'  
AND e.salary IN (  
SELECT   
salary  
FROM EMPLOYEES  
GROUP BY salary  
HAVING COUNT(*) = 1);